* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 1rem;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 34, 34);
}
.card {
  width: 35%;
  max-width: 470px;
  background: linear-gradient(130deg, rgb(0, 254, 186), rgb(91, 84, 138));
  color: rgb(255, 255, 255);
  margin: 100px auto 0px;
  border-radius: 20px;
  padding: 35px 20px;
  text-align: center;
}
.search-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 9px;
}
.search-bar {
  border: 0px;
  outline: 0px;
  background: rgb(235, 255, 252);
  color: rgb(85, 85, 85);
  padding: 10px 25px;
  height: 55px;
  border-radius: 30px;
  font-size: 1rem;
  width: 60%;
}
.btn {
  border: 0px;
  outline: 0px;
  background: rgb(235, 255, 252);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.error {
  text-align: left;
  padding: 0px 9px;
  display: none;
}

.error p {
  padding: 0px 9px;
  font-weight: 400;
}

.g-icon {
  font-size: 1.6rem;
}
.weather {
  display: none;
}
.weather-icon {
  width: 35%;
  margin-top: -10px;
}

#desc {
  font-size: 1.3rem;
  margin-top: -30px;
}

#status {
  font-size: 1.3rem;
}
.temp {
  font-size: 3.5rem;
  font-weight: 400;
}
.city {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
}
.detail-icon {
  width: 25%;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 1.6rem;
  margin-top: -6px;
  font-weight: 300;
}
p {
  font-size: 1.1rem;
  font-weight: 400;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }
  .card {
    width: 75%;
    margin-top: 50px;
    min-width: 320px;
    padding: 30px 10px;
  }

  .search-bar {
    border: 0px;
    outline: 0px;
    background: rgb(235, 255, 252);
    color: rgb(85, 85, 85);
    padding: 5px 10px;
    height: 40px;
    border-radius: 25px;
    font-size: 1.1rem;
    width: 68%;
    margin-right: 5px;
  }

  .btn {
    border: 0px;
    outline: 0px;
    background: rgb(235, 255, 252);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
  }
  .g-icon {
    font-size: 1.4rem;
  }

  .error p {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .weather-icon {
    width: 40%;
  }

  .humidity,
  .wind {
    font-size: 1.4rem;
    margin-top: -6px;
    font-weight: 300;
  }
}
